/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/


### Não quero quem mande essas aqui tbm ###
pom.xml.releaseBackup
release.properties
pet-clinic-web/pom.xml.releaseBackup
pet-clinic-data/pom.xml.releaseBackup